<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        html,
        body {
            height: 100%;
            font-family: 'Merriweather', serif;
            font-size: 10px !important;
        }
    </style>
</head>

<body style="font-family: sans-serif;">
    <div style="display: block; margin: auto; max-width: 600px;" class="main">
        <h1 style="font-size: 18px; font-weight: bold; margin-top: 20px">
            Congrats <%= name ? name : 'user' %>, for using Mailtrap for sending test email!
        </h1>
        <p>Explore other mail clients in the repo as well.</p>
        <p>Good luck! Hope I could help.</p>
    </div>
</body>

</html>